<article>
    <img [src]="incident?.img" alt="image for {{incident?.title}}">
    <section>
        <h2>
            {{incident?.title}}
        </h2>
        <span [style.background-color]="incident?.status?.bg_color"
        [style.color]="incident?.status?.txt_color">{{incident?.status?.name}}</span>
        <p>
            {{incident?.description}}
        </p>
    </section>
    <section>
        <h2>User: {{incident?.user?.name}}</h2>
        <h3>Hardware: {{incident?.hardware?.equipment}} </h3>
        <h3>Area: {{incident?.area?.name}}</h3>
    </section>
    <section>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title">
            <label for="status">Status</label>
            <input id="status" type="number" formControlName="status">
            <label for="description">Description</label>
            <input id="description" type="text" formControlName="description">
            <button type="submit" >Apply Now</button>
        </form>
    </section>
</article>